<app-topheader></app-topheader>
<app-header></app-header>

<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <swiper-container>
        <swiper-slide lazy="true">
          <img class="text-center"
            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/39ba20fe-9a64-4f96-9d7e-786293c1b13e/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
            alt="" loading="lazy">
        </swiper-slide>
        <swiper-slide lazy="true"> <img class="text-center img-fluid"
            src="assets/images/NewArrivalImages/istockphoto-1277154790-1024x1024.jpg" alt="" loading="lazy">
        </swiper-slide>
        <swiper-slide lazy="true"> <img class="text-center img-fluid"
            src="assets/images/NewArrivalImages/istockphoto-1277154828-1024x1024 (1).jpg" alt="" loading="lazy">
        </swiper-slide> <swiper-slide lazy="true"> <img class="text-center img-fluid"
            src="assets/images/NewArrivalImages/istockphoto-1277154843-1024x1024.jpg" alt="" loading="lazy">
        </swiper-slide>
        ...
      </swiper-container>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-10 m-auto d-flex flex-wrap justify-content-center align-items-center">
      <div class="col-lg-5 col-md-12 col-sm-12 ">

        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
              class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
            <button type="button" id="indicator" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
              aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/39ba20fe-9a64-4f96-9d7e-786293c1b13e/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/4614e5b5-ff85-42a5-98a2-de9e3eb189ab/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/7d65bef1-86dc-42f4-93cf-c1b163807908/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/300d3bbe-c8ed-4e74-a63d-40e2ba29e0d5/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a440942b-7deb-44c7-a232-7a042543dd6a/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/213fdc67-fea2-4ca5-9225-10975b4fa062/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ms-5 mt-5 text-start">
        <div class="row">
          <p><i class="fa-solid fa-eye me-1"></i> 460 viewed in the last 7 days
          </p>
        </div>
        <div class="row">
          <h2><b>Jordan Flight Fleece</b>
          </h2>
          <p>Women's Pullover Hoodie
          </p>
        </div>
        <div class="row">
          <p>$78.97 <span class="me-1" [ngStyle]="{color: 'gray'}">$92</span> <span [ngStyle]="{color: 'green'}">14%
              off</span>
          </p>
        </div>
        <div class="row">
          <p [ngStyle]="{color: 'green' , fontWeight: '500'}">Member Early Access: Sign in and use code SPRING for 20%
            off.</p>
        </div>
        <div class="row">
          <div class="col">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b6bf67db-0ba5-4cbf-8b68-e6dadea92ad1/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/53ff2dff-10f2-4f40-8e4b-6c6fdb224856/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/5d958153-de4c-4d88-860a-4b312e3b5e4b/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/2c6e660d-e7dd-49f5-a518-b8aed835ee2a/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b346c89f-8535-41a8-b948-5af669efeb76/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/52fae1a0-f4ce-4b83-9989-0ce028c8881a/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
            <img class="hoddyColor" id="hoddyColor"
              src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/ec547c10-b66a-4fdb-aa4b-08d8bed3df79/jordan-flight-fleece-womens-pullover-hoodie-2msS2p.png"
              alt="">
          </div>
        </div>
        <div class="row">

        </div>
        <div class="row mt-3">
          <h3>Select Size</h3>
          <div class="col-lg-8 col-md-12 ms-2 d-flex flex-wrap justify-content-start ">
            <label class="mt-1" for="availableSizes" id="availableSizes">XS (0–2)</label>
            <label class="mt-1" for="availableSizes" id="availableSizes">s (4–6)</label>
            <label class="mt-1" for="availableSizes" id="availableSizes">M (8–10)</label>
            <label class="mt-1" for="availableSizes" id="availableSizes">XL (16–18)</label>
            <label class="mt-1" for="availableSizes" id="availableSizes">L (12–14)</label>


          </div>
        </div>
        <div class="row mt-4">
          <button class="btn mt-2" id="addToBag">add to Bag <i class="fa-solid fa-bag-shopping ms-2"></i></button>
          <button class="btn mt-2" id="favourite">Favourite<i class="fa-regular fa-heart ms-2"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>