#navbarSupportedContent li a {
  transition: scale 0.2s ease-in-out;
}
#navbarSupportedContent li a:hover {
  scale: 1.2 1.3;
  color: #383838;
}

/* #navbarSupportedContent:hover > li a :not(:hover) {
  filter: blur(10px);
  scale: 0.9 0.9;
} */
